body {
	background-color: white;
}

/*-------HEADER AND NAV*/

ul .header-list-buttons {
	width: 100%;
}

.header-list-buttons {
	float: right;
	list-style-type: none;
} 

.header-list-buttons a {
	color: black;
}

.header-list-buttons li {
	display: inline; 
	padding: 1%;
	float: right;
	font-family: 'Open Sans Condensed', sans-serif;
}

.nav {
	width: 100%;
}

.navbar-default {
	background-color: white;
	border-radius: 0;
}

#header {
	font-family: 'Sacramento', cursive;
	text-align: center;
	color: gray;
	margin-top: 10%;
	font-size: 6em;
}

#header2 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: gray;
}

#header-container {
	background: url(../images/white.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 400px;
}

/*----------STRENGTHS SECTION*/
.strengths-topic {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: gray;
}

.fa {
	font-size: 3em;
	padding-top: 7%;
}

/*----------TECHNOLOGY SECTION*/
.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

/*----------PORTFOLIO SECTION*/



/*----------CONTACT SECTION*/
#passion-p {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: gray;
}


/*----------FOOTER SECTION*/
.footer {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: gray;
	height: 150px;
	color: white;
}

.col-lg-12 {
	padding: 0px;
}

#footer-p {
	padding-top: 7%;
	text-align: center; 
}

#name {
	text-decoration: none;
	color: white;
}

