<!DOCTYPE html>

<html ng-app="addyFunkApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>addy funk</title>


	<link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script> 
	<script src="js/index.js"></script>
</head>


<body>
<section ng-controller="profileController">
	<!-- <div ng-repeat="detail in details" style="float: right"> -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
    
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav">
				<ul id="header-buttons" class="header-list-buttons">
					<li><a href="#" ng-click="show = 1">strengths</a></li>
					<li><a href="#" ng-click="show = 2">technology</a></li>
					<li><a href="#" ng-click="show = 3">team player</a></li>
					<li><a href="#" ng-click="show = 4">passions</a></li>
				</ul>
			
	      </ul>
   		</div><!-- /.navbar-collapse -->
  	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid" id="header-container">
		<h1 id="header">addy funk <br></h1>
		<h2 id="header2">WEB DEVELOPER</h2>
	</div>

<!--  STRENGTHS SECTION -->
			<div class="container-fluid">
				<div class="row">
					<div ng-show="show==1" class="portfolio-details col-lg-12" id="about">
						
					<div class="strengths-topic col-lg-4 col-md-4 col-sm-12">
						<i class="fa fa-coffee" aria-hidden="true"></i>
						<h1>self-starter</h1><br>
						<p>I have always had a passion for technology. When I realized I wasn't filling this need in my marketing career, I decided to dive deep [ocean-darkness deep] into the world of development. Within one month of graduation from a development bootcamp, I landed a job as a Software Engineer at an ed-tech startup.</p>
						<br>
						<p>When I started out at my current position, my focus was on the front-end, but when our dev team got busy, I decided to jump full-steam-ahead into the backend to help out. It was a great learning experience that also helped out my team - a win-win!
						<br>
					</div>
					<div class="strengths-topic col-lg-4 col-md-4 col-sm-12">
						<i class="fa fa-bolt" aria-hidden="true"></i>
						<h1>eager</h1><br>
						<p>At my six-month review, my boss told me he appreciated my ability to tackle challenges that were thrown my way with a head-down, work hard approach. Little did he know, this came from my extreme passion to continuously learn.</p><br>
						<p>I get excited by new technologies [all the possibilities!], and I love developing my skill set, so that the software we create is the best out there. I love learning from other people, and I am always eager to hear their solutions to unique development problems.</p>
					</div>
					<div class="strengths-topic col-lg-4 col-md-4 col-sm-12">
						<i class="fa fa-desktop" aria-hidden="true"></i>
						<h1>dedicated</h1><br>
						<p>I believe in loving what you do and doing what you love. Development has become that for me. I get to be creative and problem solve every day, and it's something I would do even if I didn't have to work.</p><br>
						<p>Working at a SaaS startup is exciting because new projects mean new features for your customers. It is important to stay committed to your customers, to your team and to your projects, always. 
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
					<div class="strengths-topic col-lg-4 col-md-4 col-sm-12">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						<h1>experience</h1><br>
						<p>My marketing background has given me the ability to understand brand standards and how the company is portrayed online - which is a huge factor when it comes to developing as well.</p><br>
						<p>I gained accomplished client-facing skills and hold that with me when it comes to explaining development projects. Making sure I continue to practice other tech like the MEANstack, JavaScript frameworks, and design outside of work is really important to me.  
					</div>
					<div class="strengths-topic col-lg-4 col-md-4 col-sm-12">
						<i class="fa fa-bicycle" aria-hidden="true"></i>
						<h1>active</h1><br>
						<p>Health plays a major role in my life. When I'm not sitting behind my Mac, I like to get outside and hike, swim, run and ride my bike.</p><br>
						<p>My golden retriever Jordy can attest to that activity by his constant naps. I like challenging myself with new fitness goals, and next on the docket is completing a triathlon. 
					</div>
					<div class="strengths-topic col-lg-4 col-md-4 col-sm-12">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<h1>travel</h1><br>
						<p>My parents always taught me that travel is the greatest gift you can give yourself. I have been fortunate enough to study abroad in Italy and London and travel to places like Australia, South Africa, Kenya, Zambia, France, Portugal, Scottland, Ireland and across the U.S.</p><br>
						<p>Travel has givne me a unique outlook on life that I am extremely grateful for. My next dream destinations include Switzerland, Alaska and Costa Rica!</p>
					</div>

					</div>
				</div>
			</div>

<!--  TECHNOLOGY SECTION -->
			<div class="container-fluid">
				<div class="row">
					<div ng-show="show==2" class="portfolio-details col-lg-12" id="technology">
						<div class="tech-slideshow">
						  <div class="mover-1"></div>
						  <div class="mover-2"></div>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<p>It's pretty crazy how fast technology can change. One day your coding in JavaScript and the next your learning ES6. When I got started with development, it felt like a constant bell curve of understanding. 
								<br>
							One day I felt like Hermione Granger casting a spell on web pages, and the next, I felt like a herd of elephants was trampling my brain. I had to learn something completely new to me while also keeping up with new technologies that were coming out.
							<br>
							In my development bootcamp, we worked with:
						<ul>
							<li> Ruby </li>
							<li> Rails </li>
							<li> MongoDB </li>
							<li> ExpressJS </li>
							<li> Angular JS </li>
							<li> Node JS </li>
							<li> Grunt </li>
							<li> API's </li>
							<li> PostgreSQL </li>
						</ul>
						<br>
							But when I got hired on at a startup, I was working with: 
						<ul>
							<li> C# </li>
							<li> .NET MVC framework </li>
							<li> JQuery </li>
							<li> JavaScript </li>
							<li> KendoUI </li>
							<li> Microsoft Visual Studio </li>
							<li> SQL </li>
						</ul>
						<br>
							which is pretty different than what I was used to. I found 
					</div>
				</div>
			</div>

<!--  TEAM PLAYER SECTION -->
			<div class="container-fluid">
				<div class="row">
					<div ng-show="show==3" class="portfolio-details col-lg-12" id="teamPlayer">
						<p>	detail.portfolio = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus eget libero nec mollis. Vivamus consectetur nisi malesuada, vestibulum nisi a, aliquet est."</p>
					</div>
				</div>
			</div>

<!--  PASSIONS SECTION -->
			<div class="container-fluid">
				<div class="row">
					<div ng-show="show==4" class="portfolio-details col-lg-12" id="passion">
						<h1 id="passion-p">let's get in touch!</h1>
						<br>
						
					</div>
				</div>
			</div>

</div>
</section>

<div class="container-fluid">
	<div class="row">
		<div class="footer col-lg-12">
			<p id="footer-p">website designed by 
				<a href="" id="name">addison funk</a> using: <br> html5, angularjs, css, javascript, bootstrap
			</p>
		</div>
	</div>
</div>

</body>
</html>

